<div class="article-list">
    <% if (pagination == 2) { %>
        <% page.posts.each(function (post) { %>
            <%- partial('article', {post: post, index: true, hasContent: false}) %>
        <% }) %>
    <% } else { %>
        <%
            var lastYear;
            var lastMonth;
            var archiveType = theme.archive_type;
            var dateFormat = archiveType === 'monthly' ? 'YYYY / MM' : 'YYYY';
        %>

        <% if (is_category()) { %>
            <div class="archive-category-title block-title"><%= page.category %> 分类文章</div>
        <% } %>

        <% page.posts.each(function (post, i) { %>
            <%
                var year = post.date.year();
                var month = post.date.month();
            %>
            <% if ((archiveType === 'yearly' && lastYear !== year) || (archiveType === 'monthly' && lastMonth !== month)) { %>

                <% if (lastYear || lastMonth) { %>
                    </div></section>
                <% } %>

                <%
                    lastYear = year;
                    lastMonth = month;
                %>
                <section class="archives-wrap">
                    <div class="archive-archive-title block-title"><i class="material-icons">date_range</i><%- date(post.date, dateFormat) %></div>
                <div class="archives">
            <% } %>
            <%- partial('article', {post: post, index: true, hasContent: false}) %>
        <% }) %>

        <% if (page.posts.length) { %>
            </div></section>
        <% } %>

    <% } %>
</div>

<% if (page.total > 1) { %>
    <nav id="page-nav">
        <%- paginator({
            prev_text: __('prev'),
            next_text: __('next')
        }) %>
    </nav>
<% } %>
